{{ form_start(form) }}

{{ form_row(form.email, {label: 'Email address'}) }}
{{ form_row(form.password) }}

{% if forgottenPasswordRoute is not null %}
<a class="forgotten-password" href="{{ url(forgottenPasswordRoute) }}">{{ 'Forgotten your password?' }}</a>
{% endif %}

{{ form_row(form.remember, {label: 'Keep me logged in'}) }}

{{ form_rest(form) }}

<button type="submit">Log in</button>

{{ form_end(form) }}