{{ form_start(form) }}
	{{ form_row(form.password) }}
	{{ form_row(form.confirm) }}
	{{ form_row(form.redirect) }}

	<button type="submit">Change my password &amp; log me in</button>
{{ form_end(form) }}